<div class="modal-header">
    <h3 class="modal-title">License Upload</h3>
</div>
<div class="modal-body">
    <form role="form" name="form">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                    <label class="col-md-12 control-label">Paste here your license</label>
                    <div class="col-md-12">
                        <textarea class="form-control"  data-ng-model="newlic" placeholder="License code" rows="20" cols="20" ></textarea>
                    </div>
              </div>
	   </div>
	   <div>
	   <br>&nbsp<br>
	   </div>
           <div class="form-group" style="margin:10px">
              <div class="col-md-12 ">
                  <div class="col-md-2 col-md-offset-3">
                       <button type="submit" class="btn btn-success btn-flat" ng-click="uploadLic()">Upload</button>
		  </div>
		  <div class="col-md-2 col-md-offset-0">
                       <button type="button" class="btn btn-grey btn-flat" ng-click="closeModal()">Cancel</button>
                  </div>
              </div>
           </div>
        </div>
  </form>
</div>
<div class="modal-footer">
</div>
